<a href="https://colab.research.google.com/github/woraphonp-038-5/dataviz2025/blob/main/Dictionary_Function_Loop_Condition_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionary

In [ ]:
dict_a = {'abc':123,'def':456,'ghi':789}

In [ ]:
dict_a

{'abc': 123, 'def': 456, 'ghi': 789}

In [ ]:
dict_a['def']

456

In [ ]:
dict_b = {}

In [ ]:
dict_b['a'] = 456

In [ ]:
dict_b

{'a': 456, 'b': 123}

การ add สมาชิกเข้าไปใน dict

In [ ]:
if 'b' not in dict_b:
    dict_b['b'] = 123

# Function

## Function template
#### ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output
#### f(x) = y

### def คือการกำหนดฟังก์ชัน

```python
    def function_name(_Input_) :
        do_something with _Input_ to get _Output_
        return _Output_
```

เราใช้ เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1.   บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  ```def function_name():``` (ขาดไม่ได้)
2.   กำหนดตัวแปรที่จะเป็น input  ```_Input_``` (ขาดได้)
3.   ส่วนประมวลผล ```do_something with _Input_ to get _Output_``` (ขาดไม่ได้)
4.   ส่วน output ```return _Output_```(ขาดได้)

#### ตัวอย่างการเขียน normal function

In [ ]:
def print_myname():   # ตัวอย่าง function ที่ไม่มีทั้ง input และ output
    print('Thanapong')

In [ ]:
print_myname()

Thanapong

In [ ]:
def print_name(surname,ID,name):        # ตัวอย่าง function ที่ มีครบทุกส่วน
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    return st

In [ ]:
print_name('อินทระ','64xxxxxx','ธนพงศ์')

'ชื่อ ธนพงศ์ นามสกุล อินทระ รหัส 64xxxxxx'

In [ ]:
print_name(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

ฟังก์ชั่นไม่จำเป็นต้องมี output

In [ ]:
def print_name2(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)

In [ ]:
print_name2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

### ข้อแตกต่างระหว่าง function ที่มีและไม่มี output

In [ ]:
out_printname1 = print_name(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2') # มี output
print(out_printname1)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

In [ ]:
out_printname1

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

In [ ]:
out_printname2 = print_name2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')  # ไม่มี output
print(out_printname2)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2
None

In [ ]:
out_printname2

ฟังก์ชั่นไม่จำเป็นต้องมี input

In [ ]:
def Pi():
    return 3.14159265359

In [ ]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ Pi * r^2

12.56637061436

## เราสามารถกำหนดค่า default ให้กับ input ของฟังก์ชั่นได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default)

เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [ ]:
def print_2lines_default(name,surname,ID,grade='F'):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data Viz >>> {grade}'
    print(st2)

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> F

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8','A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8',grade = 'A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย')

TypeError: print_2lines_default() missing 1 required positional argument: 'ID'

# Quiz5
เขียน function ของ HW2

In [ ]:
def cal_dif_secs(timeinput):
    timelist = timeinput.split('-')
    time1 = timelist[0].split(':')
    time2 = timelist[1].split(':')
    time1_sec = int(time1[0])*3600 + int(time1[1])*60 + int(time1[2])
    time2_sec = int(time2[0])*3600 + int(time2[1])*60 + int(time2[2])
    dif_sec = time2_sec - time1_sec
    return dif_sec

In [ ]:
cal_dif_secs('12:30:15-13:41:07')

4252

In [ ]:
# prompt คือ นำโค้ดที่ทำได้ใน HW2 และบอกว่ารวมเป็นฟังก์ชั่น
def calculate_seconds_between(data):
    # แยกช่วงเวลา
    start, end = data.split(' - ')
    start_time, start_day = start.split(',')
    end_time, end_day = end.split(',')

    # แปลงเวลาเป็นวินาที (ทำในนี้เลย ไม่แยกฟังก์ชัน)
    h1, m1, s1 = map(int, start_time.strip().split(':'))
    start_sec = h1 * 3600 + m1 * 60 + s1

    h2, m2, s2 = map(int, end_time.strip().split(':'))
    end_sec = h2 * 3600 + m2 * 60 + s2

    days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

    start_index = days.index(start_day.strip())
    end_index = days.index(end_day.strip())

    # คำนวณจำนวนวันต่าง
    day_diff = (end_index - start_index) % 7 - 1
    if day_diff < 0:
        day_diff += 7

    # ถ้าวันเดียวกันแต่เวลาสิ้นสุดน้อยกว่าเวลาเริ่ม ให้บวกสัปดาห์
    if start_index == end_index and end_sec <= start_sec:
        day_diff += 7

    # รวมวินาทีทั้งหมด
    total_seconds = (86400 - start_sec) + end_sec + day_diff * 86400

    print(f"เวลาระหว่าง {data}\nมีเวลาทั้งหมด {total_seconds:,} วินาที")
    return total_seconds

In [ ]:
calculate_seconds_between("12:30:15, Wednesday - 13:41:07, Thursday")
print("\n")
calculate_seconds_between("12:53:15, Monday - 00:59:25, Tuesday")
print("\n")
calculate_seconds_between("16:06:09, Sunday - 11:11:11, Tuesday")

เวลาระหว่าง 12:30:15, Wednesday - 13:41:07, Thursday
มีเวลาทั้งหมด 90,652 วินาที


เวลาระหว่าง 12:53:15, Monday - 00:59:25, Tuesday
มีเวลาทั้งหมด 43,570 วินาที


เวลาระหว่าง 16:06:09, Sunday - 11:11:11, Tuesday
มีเวลาทั้งหมด 155,102 วินาที

155102

# Quiz6
เขียน function ของ HW2 --> มีการใช้ค่า default ของ input โดยถ้าวันที่กรอกเป็นวันเดียวกันให้ไม่ต้องกรอกเลยหรือกรอกแค่ 1 ตัว

In [42]:
# prompt : มีการใช้ค่า default ของ input โดยถ้าวันที่กรอกเป็นวันเดียวกันให้ไม่ต้องกรอกเลยหรือกรอกแค่ 1 ตัว แก้จากโค้ดเดิม
def calculate_seconds_between(start_time, start_day, end_time, end_day=None):
    # ถ้าไม่ได้กรอก end_day ให้ใช้วันเดียวกับ start_day
    if end_day is None:
        end_day = start_day

    # แปลงเวลาเป็นวินาที
    h1, m1, s1 = map(int, start_time.strip().split(':'))
    start_sec = h1 * 3600 + m1 * 60 + s1

    h2, m2, s2 = map(int, end_time.strip().split(':'))
    end_sec = h2 * 3600 + m2 * 60 + s2

    # สร้างลิสต์วัน
    days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

    # หา index ของวัน
    start_index = days.index(start_day.strip())
    end_index = days.index(end_day.strip())

    # รวมเป็นจำนวนวินาทีจากวันจันทร์ 00:00
    start_total_sec = start_index * 86400 + start_sec
    end_total_sec = end_index * 86400 + end_sec

    # คำนวณส่วนต่าง
    diff = end_total_sec - start_total_sec

    # ถ้าสิ้นสุดก่อนหรือเท่ากับเริ่ม ให้บวก 7 วัน (ข้ามสัปดาห์)
    if diff <= 0:
        diff += 7 * 86400

    print(f"เวลาระหว่าง {start_time}, {start_day} - {end_time}, {end_day}")
    print(f"มีเวลาทั้งหมด {diff:,} วินาที")
    return

# ✅ ตัวอย่างการเรียกใช้

# วันเดียวกัน ไม่กรอก end_day
calculate_seconds_between("12:30:15", "Wednesday", "13:41:07")

# วันข้ามกัน
calculate_seconds_between("12:30:15", "Wednesday", "13:41:07", "Thursday")

เวลาระหว่าง 12:30:15, Wednesday - 13:41:07, Wednesday
มีเวลาทั้งหมด 4,252 วินาที
เวลาระหว่าง 12:30:15, Wednesday - 13:41:07, Thursday
มีเวลาทั้งหมด 90,652 วินาที

# inspect existing function
- https://www.w3schools.com/python/ref_func_print.asp

- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.htmlr

# Quiz3.5

รับ input 2 ตัว โดยตั้งค่า default time1 เป็น 00:00:00

## HW2

วนลูป หา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่า time1 และ time2 ต่อไปนี้


1. 18:09:10 - 18:25:10
2. 13:38:39 - 23:54:39
3. 16:49:58 - 18:05:58
4. 21:49:10 - 22:24:10
5. 08:52:21 - 09:25:21
6. 06:56:26 - 07:49:26
7. 12:08:05 - 12:43:05
8. 01:48:38 - 07:18:38
9. 08:51:21 - 10:17:21
10. 17:05:17 - 18:09:17

# LOOP การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop
โดย for จะวนดึงสมาชิกจาก ```listA``` มาทำ process ```do_something```

```python
    for each_member in listA :
        do_something
```

#### คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

In [ ]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

#### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> /  จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค¶

In [ ]:
for i in 'Thanapong':
    print(i,end = '->/\n')

T->/
h->/
a->/
n->/
a->/
p->/
o->/
n->/
g->/

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / h -> / a -> / n -> / a -> / p -> / o -> / n -> / g -> /

## สร้าง list ตัวเลขแบบอัตโนมัติ  range()

In [ ]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(100):
    print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [ ]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

## วนลูปโดยสนใจทั้งสมาชิกและลำดับ

In [ ]:
index = 0
for  i in "Thanapong" :
    print(f'สมาชิก {i} เป็นลำดับที่ {index}')
    index += 1

สมาชิก T เป็นลำดับที่ 0
สมาชิก h เป็นลำดับที่ 1
สมาชิก a เป็นลำดับที่ 2
สมาชิก n เป็นลำดับที่ 3
สมาชิก a เป็นลำดับที่ 4
สมาชิก p เป็นลำดับที่ 5
สมาชิก o เป็นลำดับที่ 6
สมาชิก n เป็นลำดับที่ 7
สมาชิก g เป็นลำดับที่ 8

In [ ]:
for index, i in enumerate("Thanapong") :
    print(f'สมาชิก {i} เป็นลำดับที่ {index}')

สมาชิก T เป็นลำดับที่ 0
สมาชิก h เป็นลำดับที่ 1
สมาชิก a เป็นลำดับที่ 2
สมาชิก n เป็นลำดับที่ 3
สมาชิก a เป็นลำดับที่ 4
สมาชิก p เป็นลำดับที่ 5
สมาชิก o เป็นลำดับที่ 6
สมาชิก n เป็นลำดับที่ 7
สมาชิก g เป็นลำดับที่ 8

### loop in loop
#### สามารถใช้ for loop ซ้อนกันสองรอบได้¶

In [ ]:
for name1 in  range(2,5): #(2, 3, 4)
    print(f'now name1 = {name1}')
    for name2 in  range(1,13):
        print('  ', name1,' x ',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
   2  x  1  =  2
   2  x  2  =  4
   2  x  3  =  6
   2  x  4  =  8
   2  x  5  =  10
   2  x  6  =  12
   2  x  7  =  14
   2  x  8  =  16
   2  x  9  =  18
   2  x  10  =  20
   2  x  11  =  22
   2  x  12  =  24
the inner loop is end
now name1 = 3
   3  x  1  =  3
   3  x  2  =  6
   3  x  3  =  9
   3  x  4  =  12
   3  x  5  =  15
   3  x  6  =  18
   3  x  7  =  21
   3  x  8  =  24
   3  x  9  =  27
   3  x  10  =  30
   3  x  11  =  33
   3  x  12  =  36
the inner loop is end
now name1 = 4
   4  x  1  =  4
   4  x  2  =  8
   4  x  3  =  12
   4  x  4  =  16
   4  x  5  =  20
   4  x  6  =  24
   4  x  7  =  28
   4  x  8  =  32
   4  x  9  =  36
   4  x  10  =  40
   4  x  11  =  44
   4  x  12  =  48
the inner loop is end

##Quiz 7 วนลูป แสดงค่า ตัวเลขออกมาเป็นสามเหลี่ยม ตามตัวอย่างนี้

ex:

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

In [ ]:
for row in range(1, 6):  # สร้าง 5 แถว
    for col in range(1, row + 1):
        print(row * col, end=' ')
    print('\n')

1

2 4

3 6 9

4 8 12 16

5 10 15 20 25

### loop in function
#### การวนลูปในฟังก์ชั่น¶

In [ ]:
def print_feelings(I,friendS,feeling = 'คิดถึง'):
    for friend in friendS:
        print(f'{I} {feeling} {friend}')

In [ ]:
list_friends = ['คุณหนูเบียร์','พ่อใหญ๋เฟิร์ส','อ้ายสีหนุ่ม','จ่าหนึ่ง','บักโส']

In [ ]:
print_feelings('เจมส์',list_friends)

เจมส์ คิดถึง คุณหนูเบียร์
เจมส์ คิดถึง พ่อใหญ๋เฟิร์ส
เจมส์ คิดถึง อ้ายสีหนุ่ม
เจมส์ คิดถึง จ่าหนึ่ง
เจมส์ คิดถึง บักโส

In [ ]:
print_feelings('เจมส์',list_friends,feeling='รัก')

เจมส์ รัก คุณหนูเบียร์
เจมส์ รัก พ่อใหญ๋เฟิร์ส
เจมส์ รัก อ้ายสีหนุ่ม
เจมส์ รัก จ่าหนึ่ง
เจมส์ รัก บักโส

### looping in dict
#### ทำการวนลูปในค่า dict โดยที่เรากำหนดตัว key และvalueขึ้นมา ได้ดังนี้

In [ ]:
name_grade = {'พันทิพา' : 'B','ศุภนิตา' : 'C','ปนัดดา' : 'A','ทรงกลด' : 'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [ ]:
name_grade['ปนัดดา']

'A'

In [ ]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [ ]:
name_grade.values()

dict_values(['B', 'C', 'A', 'F'])

In [ ]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [ ]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

## HW2 Example

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],
    ["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],
    ["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],
    ["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],
    ["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"]]

def time_to_second(time1,time2):
    time1_list = time1.split(':')
    time2_list = time2.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    time2_sec = int(time2_list[0])*3600 + int(time2_list[1])*60 + int(time2_list[2])
    return(time2_sec - time1_sec)

for time1,time2 in time_list:
  diff_seconds = time_to_second(time1,time2)
  print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds

In [ ]:
time1 = "18:09:10"
time2 = "00:25:10"
diff_seconds = time_to_second(time1,time2)
print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 00:25:10 is -63840 seconds

## ตัวอย่าง Quiz6

In [44]:
# prompt: สร้าง function คำนวณ จำนวน วินาที ที่แตกต่างระหว่าง input hh:mm:ss, day of the week 2 ค่า

def calculate_seconds_between_with_day(start_time_str, start_day_str, end_time_str, end_day_str=None):
    """
    Calculates the difference in seconds between two time points, considering the day of the week.

    Args:
        start_time_str (str): The start time in 'HH:MM:SS' format.
        start_day_str (str): The start day of the week (e.g., 'Monday').
        end_time_str (str): The end time in 'HH:MM:SS' format.
        end_day_str (str, optional): The end day of the week. Defaults to the same as start_day_str.

    Returns:
        int: The total difference in seconds.
    """

    # If end_day is not provided, assume it's the same as the start day
    if end_day_str is None:
        end_day_str = start_day_str

    # Helper function to convert HH:MM:SS to seconds
    def time_to_seconds(time_str):
        h, m, s = map(int, time_str.split(':'))
        return h * 3600 + m * 60 + s

    # Convert times to seconds
    start_sec_of_day = time_to_seconds(start_time_str)
    end_sec_of_day = time_to_seconds(end_time_str)

    # Map days to a numerical value (Monday=0, Sunday=6)
    days_of_week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
    start_day_index = days_of_week.index(start_day_str.strip())
    end_day_index = days_of_week.index(end_day_str.strip())

    # Calculate the total seconds from the beginning of the week (Monday 00:00:00)
    start_total_seconds = start_day_index * 86400 + start_sec_of_day
    end_total_seconds = end_day_index * 86400 + end_sec_of_day

    # Calculate the difference
    difference_in_seconds = end_total_seconds - start_total_seconds

    # If the end time is before or at the start time but on a different day,
    # it means it's in the next week. Add 7 days worth of seconds.
    if difference_in_seconds <= 0:
        difference_in_seconds += 7 * 86400

    print(f"เวลาระหว่าง {start_time_str}, {start_day_str} - {end_time_str}, {end_day_str}")
    print(f"มีเวลาทั้งหมด {difference_in_seconds:,} วินาที")

    return difference_in_seconds

# ตัวอย่างการเรียกใช้ฟังก์ชัน
calculate_seconds_between_with_day("12:30:15", "Wednesday", "13:41:07", "Thursday")
calculate_seconds_between_with_day("12:53:15", "Monday", "00:59:25", "Tuesday")
calculate_seconds_between_with_day("16:06:09", "Sunday", "11:11:11", "Tuesday")
calculate_seconds_between_with_day("12:30:15", "Wednesday", "13:41:07") # ตัวอย่างที่ไม่กรอก end_day_str
calculate_seconds_between_with_day("23:00:00", "Sunday", "01:00:00",)
calculate_seconds_between_with_day("12:00:00", "Monday", "11:00:00", "Monday") # เวลาสิ้นสุดน้อยกว่าเวลาเริ่มในวันเดียวกัน (จะนับเป็นข้ามสัปดาห์)

เวลาระหว่าง 12:30:15, Wednesday - 13:41:07, Thursday
มีเวลาทั้งหมด 90,652 วินาที
เวลาระหว่าง 12:53:15, Monday - 00:59:25, Tuesday
มีเวลาทั้งหมด 43,570 วินาที
เวลาระหว่าง 16:06:09, Sunday - 11:11:11, Tuesday
มีเวลาทั้งหมด 155,102 วินาที
เวลาระหว่าง 12:30:15, Wednesday - 13:41:07, Wednesday
มีเวลาทั้งหมด 4,252 วินาที
เวลาระหว่าง 23:00:00, Sunday - 01:00:00, Sunday
มีเวลาทั้งหมด 525,600 วินาที
เวลาระหว่าง 12:00:00, Monday - 11:00:00, Monday
มีเวลาทั้งหมด 601,200 วินาที

601200

# HW3 เพิ่ม loop เข้าไปใน Quiz6 โดยวนลูป คำนวณ วินาที ในโจทย์ ต่อไปนี้

"10:00:00", "Monday", "11:30:00"
"11:30:00", "Monday", "10:00:00", "Monday", 5400),  # Same day, earlier time
"23:00:00", "Sunday", "01:00:00", , 7200),  # Cross midnight
"01:00:00", "Monday", "23:00:00", "Sunday", 7200),  # Cross midnight (reverse)
"10:00:00", "Tuesday", "11:30:00", "Thursday", 178200), # Multiple days difference
"11:30:00", "Thursday", "10:00:00", "Tuesday", 178200), # Multiple days difference (reverse)
"12:00:00", "Monday", "12:00:00", "Monday", 0),      # Same time, same day
"12:00:00", "Monday", "12:00:00", "Tuesday", 24*3600), # Same time, next day
"00:00:00", "Monday", "23:59:59", , 24*3600 - 1), # Almost 24 hours later
"23:59:59", "Sunday", "00:00:00", "Monday"

# Conditional statemet คือ ประโยคเงื่อนไข

ชนิดตัวแปรที่เกี่ยวข้อ Boolean (True,False)

In [ ]:
condition_1 = True
condition_2 = False

### การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```Python
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

## ==, !=,>=,<=,<,> Operator ของตัวเลข

In [ ]:
def time_to_second(time1):
    time1_list = time1.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    return time1_sec

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"],["18:51:21", "00:17:21"],
    ["17:05:17", "11:09:17"],]

In [ ]:
for time1,time2 in time_list:

    if time_to_second(time1) < time_to_second(time2): #ถ้า time1 น้อยกว่า time2
        diff_seconds = time_to_second(time2) - time_to_second(time1)
    else: #ถ้า time1 ไม่น้อยกว่า time2
        diff_seconds = (time_to_second(time2)+(24*60*60)) - time_to_second(time1)

    print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds
Time difference between 18:51:21 - 00:17:21 is 19560 seconds
Time difference between 17:05:17 - 11:09:17 is 65040 seconds

# HW3 เพิ่ม ฟังก์ชั่นแปลงวินาทีกลับมาเป็น ชั่วโมง นาที วินาที โดยไม่ใช่ฟังก์ชั่นช่วยเหลืออื่นๆของ python (~~import~~) ถ้าส่วนของ ชั่วโมง นาที วินาที เป็นศูนย์ ไม่ต้องแสดง

# HW 4
#### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)
#### วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

##### กำหนด
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
      แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

## ```&```, ```|```, ```in```, ```is```   :  Operator อื่นๆ

In [ ]:
if (1>0) & (0>-1):
    print(True & True)

True

In [ ]:
if 'T' in 'Thanapong':
    print('T in Thanapong')

T in Thanapong

In [ ]:
def return_nothing(x):
    x = x+1

In [ ]:
a = return_nothing(5)

In [ ]:
if a is None:
    print('x is null')

x is null

# Finish